# Database configuration
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=<mode>"

# Email server configuration
EMAIL_PORT="587"
EMAIL_HOST="smtp-pulse.com"
EMAIL_USER="<email_username>"
EMAIL_PASSWORD="<email_password>"
NO_REPLY_EMAIL="no-reply@recalmtrip.com"

# Authentication secrets
AUTH_SECRET="<auth_secret>"
AUTH_GOOGLE_ID="<google_client_id>"
AUTH_GOOGLE_SECRET="<google_client_secret>"
AUTH_FACEBOOK_ID="<facebook_client_id>"
AUTH_FACEBOOK_SECRET="<facebook_client_secret>"

# Recaptcha keys
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="<recaptcha_site_key>"
RECAPTCHA_SECRET_KEY="<recaptcha_secret_key>"

# Encryption and security keys
CRYPTO_SECRET_KEY="<crypto_secret_key>"
JWT_SECRET_KEY="<jwt_secret_key>"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="<stripe_publishable_key>"
STRIPE_SECRET_KEY="<stripe_secret_key>"
STRIPE_WEBHOOK_SECRET="<stripe_webhook_secret>"

# Node environment
NODE_ENV="development"
NEXT_PUBLIC_URL="http://localhost:3000"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<cloudinary_cloud_name>"
NEXT_PUBLIC_CLOUDINARY_API_KEY="<cloudinary_api_key>"
CLOUDINARY_API_SECRET="<cloudinary_api_secret>"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="<cloudinary_upload_preset>"

# Duffel API
DUFFEL_API_TOKEN="<duffel_api_token>"
DUFFEL_BASE_URL="https://api.duffel.com"

# bKash configuration
BKASH_BASE_URL="https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized"
BKASH_USERNAME="<bkash_username>"
BKASH_PASSWORD="<bkash_password>"
BKASH_APP_KEY="<bkash_app_key>"
BKASH_APP_SECRET="<bkash_app_secret>"

# Khudebarta configuration
KHUDEBARTA_API_KEY="<khudebarta_api_key>"
KHUDEBARTA_API_SECRET="<khudebarta_api_secret>"
KHUDEBARTA_CALLER_ID="<khudebarta_caller_id>"
