@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  visibility: hidden;
}
.spinner {
  box-sizing: border-box;
  display: block;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.recalmtrip-tabs {
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
}
:root {
  --header-height: 3.5rem;
}
@media (min-width: 768px) {
  :root {
    --header-height: 4.5rem;
  }
}
